body,
html {
    font-size: 150%;
    scroll-behavior: smooth;
    height: 100%;
    background-color: #171820;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

p {
    padding-bottom: 25px;
    font-family: Tahoma, Helvetica, sans-serif;

}

header {
    position: sticky;
    top: -15px;
    padding-top: 15px;
    opacity: 1;
    color: #E7E7E7;
}

/* google fonts used in footer link */
h1 {
    font-size: 3.052rem;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #941e1e;
    padding-top: 100px;
}

h2 {
    font-size: 2.441rem;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #bf6363;
    padding-bottom: 25px;
}

h3 {
    font-size: 2.441rem;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #171820;
    padding-bottom: 25px;

}

section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero1_text {
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #b36161;
    line-height: 1.5;

}

.main_text {
    height: 100%;
    text-align: center;

    font-size: 24px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #9e5757;
    line-height: 1.5;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-right: 400px;
    margin-left: 400px;
}

.footer_text {
    height: 100%;
    text-align: center;
    color: #171820;
    padding-bottom: 40px;
    font-size: 24px;

}
.hero_image {
    background-image: url("images/wp2757874.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

nav {
    font-size: 0.938rem;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #ffffff;
    top: -15px;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 99999;
    padding-top: 10px;
    padding-bottom: 10px;


}

nav a:link {
    text-decoration: none;
    color: #ffffff;
}

nav a:active {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

p a {
    text-decoration: none;

}
a, a:link, a:visited {
  color: #FFFAFA;
  text-decoration: none;
}

p a:link{
    text-decoration: none;
    color: white;
}



p a:hover {
    color: #920707;
    text-decoration: none;

}

nav a:hover {
    color: #ffffff;
    background-color: #000000;
    box-shadow: 4px 1px 2px -2px rgba(101, 89, 89, 0.52);
    transform: translate(2px, 2px);
    display: inline-block;
    transition: .5s ease-in-out;
}

footer {
    background-color: #9e5757;
    /* border: solid #ffffff; */
    margin-bottom: 1rem;

}

footer a:link {
    text-decoration: none;
    color: #000000;
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Roboto', sans-serif;
}

footer a:visited .image_padding a:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
    background-color: #E7E7E7;
    box-shadow: 4px 1px 2px -2px rgba(101, 89, 89, 0.52);
    transform: translate(2px, 2px);
    display: inline-block;
    transition: .5s ease-in-out;
}

.nav-desktop {
    display: block;
}

@media (max-width: 40rem) {
    .nav-desktop {
        display: none;
    }
}


@media (min-width: 40rem) {
    .nav-mobile {
        display: none;

    }
}


.nav-desktop ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 16px;
}

.nav-mobile ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 16px;
    transition: transform .5s ease;
    padding-left: 15px;

}

@media (max-width: 40rem) {
    .nav-mobile {
        transform: translateX(0%);
    }
}

.nav-mobile {
    transform: translateX(-150%);
    transition: transform .5s ease;
}

.check {
    position: absolute;
    left: -500px;
}

.hamburger {
    display: none;
}

@media (max-width: 40rem) {
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        transform: translateX(-150%);
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .nav-icon-hambuger {
        display: block;
    }

    .nav-icon-close {
        display: none;
    }
}

.check:checked~.hamburger .nav-icon-hambuger {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.check:checked~.hamburger .nav-icon-close {
    display: block;
}

.check:checked~.nav-mobile {
    transform: translateX(0%);
}

@media (max-width: 40rem) {
    .main_text {
        height: 100%;
        text-align: center;
        font-size: 16px;
        font-family: Tahoma, Helvetica, sans-serif;
        color: #9e5757;
        line-height: 1.5;
        padding-bottom: 20px;
        margin-top: 50px;
        margin-right: 40px;
        margin-left: 40px;
    }

    nav {
        opacity: 1;
        padding-top: 20px;
    }
}


@media (min-width: 40rem) and (max-width: 75rem) {
    .main_text {
        height: 100%;
        text-align: center;
        font-size: 25px;
        font-family: Tahoma, Helvetica, sans-serif;
        color: #9e5757;
        line-height: 1.5;
        padding-bottom: 20px;
        margin-top: 50px;
        margin-right: 40px;
        margin-left: 40px;
    }
}

.nav-button {
  position: absolute; /* Absolute positioning relative to the nav bar */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  padding: 10px 20px; /* Example padding */
  background-color: #E7E7E7; /* Example background color */
  color: #772828; /* Example text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}


.nav-button:hover{
    background-color: #941e1e;
    color: #171820;
}